//- Task 1: update index.html to have a space to display hotels and a form field for hotels
doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(rel='stylesheet' type='text/css' href='./dr-styles.css')
    script(src="dr-hotel.js" defer)
    title Document
  body
    header
      div(class="banner  contaier-row")
        span(class="heading-text")  JavaScript Hotels
        input(id="search" class="heading-search" type="text" name="search" placeholder="🔍Search Hotels")
    div(class="jumbo")
      ul(id="jumbo_text")
        li Welecome to JavaScript Hotels!
        li Are you a hotel owner? <span id="click" > Sign up here</span> 
    div(class="container-column")
      form(id="hotel_services" style="display:none" class="form-box-signup")
        label(style="font-size: 20px;") Register your hotel?
        br
        br
        label Name
        br
        input(type="text" name="hotel_name" placeholder="Hotel name")
        br
        label City
        br
        input(type="text" name="city" placeholder="City")
        br
        label State
        br
        input(type="text" name="state" placeholder="State")
        br
        label Street
        br
        input(type="text" name="street" placeholder="Street")
        br
        button(type="submit") Sign Up!

    div(class="container-row" id="display_hotels")
    
  footer(class="footer")
    span &copy; 2020 Recursive Scripters

