* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  margin: 0;
  background-color: #6699cc;
}
footer {
  margin-top: 33%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: -1px;
  padding: 60px;
  text-align: center;
  color: white;
  font-weight: 900;
}
header {
    height: 40px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}
.hotel-flex-item {
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px;
    color: white;
    background-color: rgb(21, 32, 43);
  width: 15vw;
  word-break: break-all;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 12px;

}
.hotel-flex-item:hover {
    background-color: rgb(47, 59, 71);
}
.banner {
  background-color: #6699cc;
  padding: 5px;
  position: fixed;
  width: 100%;

  box-shadow: 1px 1px 1px rgb(21, 32, 43);
  margin-top: -1px;
}

.heading-text {
  font-size: 40px;
  font-weight: bolder;
  color: rgb(21, 32, 43);
}
#search {
  background-color: rgb(21, 32, 43);
  color: white;
  width: 30%;
  border-radius: 12px;
  float: right;
}

.header-btn {
  width: 25%;
}
.container-column {
  display: flex;
  flex-direction: column;
}
.container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-box-signup {
  margin: 0 auto;
  margin-top: 50px;
  width: 50%;
  padding: 20px;
  background-color: rgb(47, 59, 71);
  font-size: 16px;
  font-weight: bolder;
  color: white;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 2px 6px 2px rgba(60,64,67,0.149);
}
#hotel_services {
  display: none;
}
.heading-search {
  width: 70%;
  height: 50%;
  margin-right: 1%;
  font-size: xx-large;
  text-align: center;
  padding: 2px;
  border-style: none;
}

.jumbo {
  padding: 30px;
  padding-top: 130px;
  padding-bottom: 100px;
  color: white;
  background-color: rgb(21, 32, 43);
  display: flex;
  flex-direction: column;
}
#click {
  color: orange;
}
#click:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #6699cc;
}
.form-box-signup input {
  color: white;
  font-size: 20px;
}
form input {
  background-color: rgb(21, 32, 43);
  width: 50%;
  padding: 10px;
  color: white;
  font-size: 12px;
  margin-bottom: 10px;
  border-radius: 12px;
  text-align: center;
  border-style: none;
}
#jumbo_text {
  font-size: x-large;
  font-weight: bold;
}
.footer {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(21, 32, 43);
}
